    /*------------------ Fahrschule Cleve ------------------*/
                /* Dominik Schirmer & Jannis Rex */
                    /*----------------------*/
                        /*--------------*/
                            /*------*/
                                



    /*------------------ General ------------------*/ 
    /* Positioning */
    html {
    position: relative;
    min-height: 100%; /* Fixing Footer */
    }

    /* Body Adjustments */
    body {
    margin: 0 0 100px; /* Last Value = footer gap to top */
    padding: 25px;
    }

    /* Font */
    div {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
    }

    /* Footer */
    footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 50px;
    overflow:hidden; /* Site Scrolling */
    color: black;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 3px;
    }

    /* BlackFont */
    .blackfont {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    }

    /* WhiteFont */
    .whitefont {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    }

    /* Content Box */
    .box {
    float: none;
    width: 80%;
    height: 560px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #000000;
    } 

    /* Create Container */
    .container{
    border: 1px solid #ccc;
    text-align: center;
    }

    /* Title */
    .title {
    display: block; 
    margin: 0 auto;
    padding-bottom: 4%;
    }   

    /* HR after Title */
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #808080;
    margin: 1em 0;
    padding: 0; 
    }

    /* Horizontal Line After Title */
/*  .title:after {
    content:' ';
    display:block;
    border:2px solid #000000;  
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    }
*/

    /* Index Image Size */
    .index {
    height: 200px;
    width: 400px;
    display: block; 
    margin: 0 auto;
    
    }


    
    /*------------------ Positioning ------------------*/ 
    /* Centering Images */
    .centerimage {
    display: block; 
    margin: 0 auto;
    }   

    /* Centering Text */
    .centertext {
    text-align: center;
    }   





    /*------------------ Partner ------------------*/ 
    /* TopRightCorner Image */
    .topright {
    position:absolute;
    top:23.5%;
    right:6.5%;
    /* padding-top: 2%; */
    /* padding-right: 2%; */
    }

    /* Partner Image 1*/
    .partner1 {
    position:absolute;
    height: 50px;
    width: 220px;
    top:33%;
    right:4%;
    }

    /* Partner Image 2*/
    .partner2 {
    position:absolute;
    height: 100px;
    width: 220px;
    top:40%;
    right:4.5%;
    }

    /* Partner Image 3*/
    .partner3 {
    position:absolute;
    height: 150px;
    width: 150px;
    top:53%;
    right:6.5%;
    }

    /* Background Box */
    #partner {
    height: 500px;
    width: 240px;
    background-color: #808080;
    float: right;
    margin-right: 40px;
    margin-top: 0px;
    border-radius: 10px;
    }





    /*------------------ SlideShow ------------------*/ 
    .mySlides {
    display:none
    }

    /* Slideshow container */
    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    /* Next & Previous */
    .prev, .next, .nextC {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    }

    /* Next Pos House*/
    .next {
    right: 70%;
    border-radius: 3px 0 0 3px;
    }

    /* Next Pos Cars */
    .nextC {
    right: 50%;
    border-radius: 3px 0 0 3px;
    }

    /* Color on Hover */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }

    /* Caption Header Cars*/
    .headC {
    display: block;
    float: right;
    overflow: hidden;
    text-decoration: none;
    margin: 5px 0px 0px 0px;
    }

    /* Caption Text House*/
    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: -7%;
    width: 30%;
    text-align: center;
    vertical-align: top;
    }

    /* Text Cars*/ 
    .textC {
    display: block;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-decoration: overline;
    margin: 5px 0 0 0;
    text-align:left;
    text-decoration: none;
    }

    /* Count Picture*/
    .slidecount {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }

    /* Picture Size House */
    .slidesize {
    position: static;
    width: 300px;
    height: 500px;
    /* margin-left: 30%; */ /* Center Picture In Content Box */
    }

    /* Picture Size Cars */
    .slidesizeC {
    position: static;
    width: 500px;
    height: 500px;
    /* margin-right: 5px; */
    }

    /*------------------ Contact Page ------------------*/ 
    /* Own Line For Each Caption */
     .caption {
    display: block;
    color: #ff4040;
    position: relative;     
    line-height: 1.5em; /* For Underline */
    }

    /* Underline For Captions*/
    .caption:after {
    content:' ';
    position: absolute;
    top:90%; /* Pos */
    left:50%; /* Pos */
    width:25px; /* Size */
    border:2px solid #808080; /* Size and Color */
    border-radius:4px; /* Round Edges */
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05); /* Shadow */
    transform:translateX(-50%); /* Position rel. to Text */ 
    }

    /* Sticky Text */
    div.item {
    vertical-align: top; /* Align Images */
    display: inline-block;
    text-align: center; /* Horizontally Center Images And Caption */
    width: 180px; /* Margin Around Images */
    padding-top: 10%; /* Icon Placement Top */
    padding-left: 7%; /* Icon Placement Lef */
    }

    /* Icons */
    .icon {
    height: 120px;
    width: 120px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    }





    /*------------------ Dropdown ------------------*/
    /* Positioning of Dropdown */
    .dropdown {
    position: relative;
    display: inline-block;
    } 

    /* Create Dropdown Menu*/
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 16px;
    border-radius: 5px;
    }

    /* Dropdown Button Color */
    .dropbtn {
    background-color: #f1f1f1;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    }

    /* Dropdown Button Mouseover Color */
    .dropdown:hover .dropbtn {
    background-color: lightgrey;
    }


    /* Dropdown Content Text Color */
    .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    }

    /* Dropdown Content Mouseover Color */
    .dropdown-content a:hover {background-color: lightgrey}

    /* Dropdown Content Background */
    .dropdown:hover .dropdown-content {
    display: block;
    background-color: #f1f1f1;
    }


    