    /*------------------ Fahrschule Cleve ------------------*/
                /* Dominik Schirmer & Jannis Rex */
                    /*----------------------*/
                        /*--------------*/
                            /*------*/
                                



    /*------------------ General ------------------*/ 
    /* Positioning */
    html {
    position: relative;
    min-height: 100%; /* Fixing Footer */
    }

    /* Body Adjustments */
    body {
    margin: 0 0 100px; /* Last Value = footer gap to top */
    padding: 25px;
    }

    /* Font */
    div {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
    }

    /* Footer */ 
    footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 50px;
    overflow:hidden;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 3px;
    }

    /* BlackFont */
    .blackfont {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    }

    /* WhiteFont */
    .whitefont {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    }

    /* Content Box */
    .box {
    float: none;
    width: 80%;
    height: 590px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #000000;
    } 

    /* Create Container */
    .container{
    border: 1px solid #ccc;
    text-align: center;
    }




    
    /*------------------ Positioning ------------------*/ 
    /* Centering Images */
    .centerimage {
    display: block; 
    margin: 0 auto;
    padding-bottom: 4%;
    }   

    /* Centering Text */
    .centertext {
    text-align: center;
    }   





    /*------------------ Partner ------------------*/ 
    /* TopRightCorner Image */
    .topright {
    position:absolute;
    top:20%;
    right:10%;
    /* padding-top: 2%; */
    /* padding-right: 2%; */
    }

    /* Partner Image 1*/
    .partner1 {
    position:absolute;
    height: 50px;
    width: 220px;
    top:29%;
    right:4%;
    }

    /* Partner Image 2*/
    .partner2 {
    position:absolute;
    height: 90px;
    width: 200px;
    top:35%;
    right:6%;
    }

    /* Partner Image 3*/
    .partner3 {
    position:absolute;
    height: 110px;
    width: 120px;
    top:46%;
    right:9.5%;
    }

    /* Background Box */
    #partner {
    height: 400px;
    width: 240px;
    background-color: #808080;
    float: right;
    margin-right: 40px;
    margin-top: 0px;
    border-radius: 10px;
    }


    /*------------------ Contact Page ------------------*/ 
    /* Own Line For Each Caption */
     .caption {
    display: block;
    color: #ff4040;
    }

    /* Sticky Text */
    div.item {
    vertical-align: top; /* Align Images */
    display: inline-block;
    text-align: center; /* Horizontally Center Images And Caption */
    width: 180px; /* Margin Around Images */
    padding-top: 10%; /* Icon Placement */
    padding-left: 7%; /* Icon Placement */
    }

    /* Icons */
    .icon {
    height: 120px;
    width: 120px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    }





    /*------------------ Dropdown ------------------*/
    /* Positioning of Dropdown */
    .dropdown {
    position: relative;
    display: inline-block;
    } 

    /* Create Dropdown Menu*/
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 16px;
    border-radius: 5px;
    }

    /* Dropdown Button Color */
    .dropbtn {
    background-color: #f1f1f1;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    }

    /* Dropdown Button Mouseover Color */
    .dropdown:hover .dropbtn {
    background-color: lightgrey;
    }


    /* Dropdown Content Text Color */
    .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    }

    /* Dropdown Content Mouseover Color */
    .dropdown-content a:hover {background-color: lightgrey}

    /* Dropdown Content Background */
    .dropdown:hover .dropdown-content {
    display: block;
    background-color: #f1f1f1;
    }


    